<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2>가입 또는 로그인을 위해 이메일을 입력하세요</h2>
<h3>국가 (변경)</h3>
<form action="emailLogin.do" method="post">
	<table>
		<tr>
			<td><input type="text" id="email" placeholder="이메일" required="required" onchange="emailchk()"
			autofocus="autofocus"><p>
			계속 진행하면 나이키의 <a href="">개인정보처리방침</a> 및 <a href="">이용약관</a>에 동의하게 됩니다.</td>
		</tr>
		<tr>
			<td align="center"><input type="submit" value="다음"></td>
		</tr>	 
	</table>

</form>

</body>
</html>