<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	
	<script type="text/javascript">
		if("[[${result}]]" == "1") {
			alert("탈퇴한 회원입니다. 다른 이메일주소를 입력하세요");
		}
	</script>
</head>
<body>
[[${msg}]]
<h2>가입 또는 로그인을 위해 이메일을 입력하세요</h2>
<h4>국가 <a href="#">변경</a></h4>
<form action="emailLogin.do" method="post">
	<table>
		<tr>
			<td><input type="text" id="email" name="email" placeholder="이메일" required="required"
			autofocus="autofocus" th:value="${member.email}"><p>
			계속 진행하면 나이키의 <a href="#">개인정보처리방침</a> 및 <a href="#">이용약관</a>에 동의하게 됩니다.</td>
		</tr>
		<tr>
			<td align="center"><input type="submit" value="다음"></td>
		</tr>	 
	</table>

</form>


 <!-- Naver Login Image & Button -->
    <a onclick="naverLogin();"><img width="200" height="50" th:src="@{/images/btnG_완성형.png}"></a>
<script>


    // 네이버 로그인을 위한 팝업창 생성
    function naverLogin(){
        let uri = 'https://nid.naver.com/oauth2.0/authorize?' +
            'response_type=code' +                  // 인증과정에 대한 내부 구분값 code 로 전공 (고정값)
            '&client_id=SLChQKPTdZVYH07OK_Rc' +     // 발급받은 client_id 를 입력
            '&state=NAVER_LOGIN_TEST' +             // CORS 를 방지하기 위한 특정 토큰값(임의값 사용)
            '&redirect_uri=http://localhost:8080/NaverLoginCallback';   // 어플케이션에서 등록했던 CallBack URL를 입력

        // 사용자가 사용하기 편하게끔 팝업창으로 띄어준다.
        //window.open(uri, "Naver Login Test PopupScreen", "width=450, height=600");
        location.href=uri;
    }

</script>

</body>
</html>