<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

<h2>이메일을 인증하고 새 비밀번호를 입력하세요</h2>
<h3> 고객님의 이메일 주소로 안전한 일회용 인증코드를 보내드렸습니다</h3>

[[${member.email}]] <a th:href="@{emailLoginForm.do(email=${member.email})}">편집</a>

<form action = "changePw.do" method="post">
	<input type="hidden" name="email" th:value="${member.email}">
	<input type="text" name="verifiCode" required="required" placeholder="이메일로 받은 인증코드" >
	<div id="time"></div>
	<a th:href = "@{findPwForm.do(email=${member.email})}">인증코드재전송</a><p> <!-- 무조건나오게 -->
	<input type="password" name="newPw" required="required" placeholder="새비밀번호"><p>
	<span>※최소 8자</span><p>
	<span>※알파벳 대문자 및 소문자 조합, 최소 1개 이상의 숫자</span><p>
	
	<a th:href="@{pwLoginForm.do(email=${member.email})}">취소</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="submit" value="저장">
</form>
</body>

<script type="text/javascript">
	const timeArea = document.getElementById('time');
	let date = 60;
	
	function getTime() {
	    date -= 1
	    timeArea.innerText = date;
	
		if (date == -1) {
			clearInterval(interval);
			timeArea.innerText = '시간만료';
		}
	}
	
	getTime();
	let interval = setInterval(getTime, 1000)
	
</script>

</html>