<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<th:block th:if="${msg} != null">
	<script type="text/javascript">
		alert("[[${msg}]]")
	</script>
</th:block>

</head>
<body>


<h2>비밀번호를 입력하세요</h2>
[[${member.email}]] <a th:href="@{emailLoginForm.do(email=${member.email})}">편집</a><p>



<form action="login.do" method="post">
	<table>
		<tr>
			<td>
			<input type="password" required="required" autofocus="autofocus" 
			id="password" name="password" placeholder="비밀번호"><p>
			<input type="hidden" name="email" th:value="${member.email}" >
			
			<a th:href="@{/member/findPwForm.do(email=${member.email})}">비밀번호 찾기</a>
		</tr>
		<tr>
			<td align="center"><input type="submit" value="로그인"></td>
		</tr>
	</table>
</form> 

</body>
</html>

