<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content"> <!-- by수인 -->
	<th:block th:if="${result} > 0">
		<script type="text/javascript">
			alert("공지수정 성공");
			location.href="adminNoticeDetail.do?noticeNo=[[${notice.noticeNo}]]";
		</script>
	</th:block>
	
	<th:block th:if="${result} == 0">
		<script type="text/javascript">
			alert("공지수정 실패");
			history.go(-1);
		</script>
	</th:block>

</div>
</body>
</html>