<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body><!-- by창률 -->
<div layout:fragment="content">
	<table>
		<tr>
			<th>상품번호</th>
			<th>상품상세번호</th>
			<th>상품명</th>
			<th>카테고리번호</th>
			<th>가격</th>
			<th>상품설명</th>
			<th>성별</th>
			<th>색상</th>
			<th>사이즈</th>
			<th>대표이미지</th>
			<th>재고</th>
			<th></th>
		</tr>
		<tr th:each="lists:${list2}">
			<td>[[${lists.productNo}]]
			<td>[[${lists.productDetailNo}]]</td>
			<td>[[${lists.productName}]]</td>
			<td>[[${lists.categoryNo}]]</td>
			<td>[[${lists.price}]]</td>
			<td>[[${lists.detail}]]</td>
			<td>[[${lists.gender}]]</td>
			<td>[[${lists.color}]]</td>
			<td>[[${lists.productSize}]]
			<td><img alt="" th:src="@{images/product_photo/} + ${lists.productPhoto}" height="100" width="100"></td>
			<td>[[${lists.stock}]]</td>
			<td><a th:href="@{/adminProductUpdate.do(productDetailNo=${lists.productDetailNo})}">상품 수정</a></td>
		</tr>
	</table>
	<div>
		<form action="adminProductList.do">
			<select name="keyword">
				<option value="product_no">상품번호</option>
				<option value="product_name">상품명</option>
			</select>
			<input type="text" name="search">
			<input type="submit" value="검색">
		</form>
	</div>
	<span>
		<!-- 시작페이지가 pagePerBlock(10)보다 크면 앞에 보여줄 것이 있다 -->	
		<th:block th:if="${pb.startPage > pb.pagePerBlock}">
			<li>
				<a th:href="@{/adminProductList.do(pageNum=1)}">
					<span class="glyphicon glyphicon-fast-backward"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminProductList.do(pageNum=${pb.startPage-1 })}">
					<span class="glyphicon glyphicon-triangle-left"></span>
				</a>
			</li>
		</th:block>
		<th:block th:each="i:${#numbers.sequence(pb.startPage, pb.endPage) }">
			<th:block th:if="${pb.currentPage == i }">
				<li class="active">
					<a th:href="@{/adminProductList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>
			<th:block th:if="${pb.currentPage != i }">
				<li>
					<a th:href="@{/adminProductList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>		
		</th:block>
		<!-- endPage보다 totalPage가 크면 보여줄 것이 뒤에 남아 있다 -->
		<th:block th:if="${pb.endPage < pb.totalPage}">
			<li>
				<a th:href="@{/adminProductList.do(pageNum=${pb.endPage+1})}">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminProductList.do(pageNum=${pb.totalPage})}">
					<span class="glyphicon glyphicon-fast-forward"></span>
				</a>
			</li>
		</th:block>
	</span>
	<a href="/adminProductInsert.do">상품 등록</a>
</div>
</body>
</html>