<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<table>
		<tr>
			<th>이메일</th>
			<th>이름</th>
			<th>성별</th>
			<th>생년월일</th>
			<th>전화번호</th>
			<th>가입일</th>
			<th>탈퇴여부</th>
		</tr>
		<tr th:each="list:${list}">
			<td>[[${list.email]]</td>
			<td>[[${list.name]]</td>
			<td>[[${list.member_gender]]</td>
			<td>[[${list.birthdy]]</td>
			<td>[[${list.member_tel]]</td>
			<td>[[${list.reg_date]]</td>
			<td>[[${list.member_del]]</td>
			<td>
				<button th:onclick="location.href='memberDetail.do(email=${list.email})'">회원 상세 보기</button>
			</td>
	</table>
	이메일
	이름
	성별
	생년월일
	전화번호
	가입일
	탈퇴여부
	회원 상세보기
	
	관리자 메인으로 이동
</div>
</body>
</html>