<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<h2>매장 정보 입력</h2>
	<form action="adminStoreInsertResult.do">
		<table>
			<tr>
				<th>매장이름</th>
				<td><input type="text" name="storeName" required="required" autofocus="autofocus"></td>
			</tr>
			<tr>
				<th>매장주소</th>
				<td><input type="text" name="storeAddr" required="required"></td>
			</tr>
			<tr>
				<th>개점시간</th>
				<td><input type="text" name="storeOpen" required="required"></td>
			</tr>
			<tr>
				<th>폐점시간</th>
				<td><input type="text" name="storeClose" required="required"></td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td><input type="tel" name="storeTel" required="required"></td>
			</tr>
			<tr>
				<th>위도</th>
				<td><input type="number" step="0.0000001" name="latitude" required="required"></td>
			</tr>
			<tr>
				<th>경도</th>
				<td><input type="number" step="0.0000001" name="longitude" required="required"></td>
			</tr>
			<tr>
				<td><input type="submit" value="확인"></td>
			</tr>
		</table>
		<div>
			<a href='adminStoreList.do'>취소</a>
		</div>
	</form>
</div>
</body>
</html>