<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<span th:if="${result} > 0">
	<script type="text/javascript">
		alert("삭제 성공");
		location.href="adminStoreList.do";
	</script>
</span>
<span th:if="${result} == 0">
	<script type="text/javascript">
		alert("삭제 실패");
		history.back();
	</script>
</span>
</div>
</body>
</html>