<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body>
<div layout:fragment="content">
	<table>
		<tr>
			<th>매장번호</th>
			<th>매장이름</th>
			<th>매장주소</th>
			<th>개점시간</th>
			<th>폐점시간</th>
			<th>전화번호</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="lists:${list2}">
			<td>[[${lists.storeNo}]]</td>
			<td>[[${lists.storeName}]]</td>
			<td>[[${lists.storeAddr}]]</td>
			<td>[[${lists.storeOpen}]]</td>
			<td>[[${lists.storeClose}]]</td>
			<td>[[${lists.storeTel}]]</td>
			<td><a th:href="@{/adminStoreUpdateForm.do(storeNo=${lists.storeNo})}">수정</a>
			<td><a th:href="@{/adminStoreDelete.do(storeNo=${lists.storeNo})}">삭제</a>
		</tr>
	</table>
	<div>
		<form action="adminStoreList.do">
			<select name="keyword">
				<option value="storeNo">매장번호</option>
				<option value="storeName">매장이름</option>
			</select>
			<input type="text" name="search">
			<input type="submit" value="검색">
		</form>
	</div>
	<span>
		<!-- 시작페이지가 pagePerBlock(10)보다 크면 앞에 보여줄 것이 있다 -->	
		<th:block th:if="${pb.startPage > pb.pagePerBlock}">
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=1)}">
					<span class="glyphicon glyphicon-fast-backward"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=${pb.startPage-1 })}">
					<span class="glyphicon glyphicon-triangle-left"></span>
				</a>
			</li>
		</th:block>
		<th:block th:each="i:${#numbers.sequence(pb.startPage,pb.endPage) }">
			<th:block th:if="${pb.currentPage == i }">
				<li class="active">
					<a th:href="@{/adminStoreList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>
			<th:block th:if="${pb.currentPage != i }">
				<li>
					<a th:href="@{/adminStoreList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>		
		</th:block>
		<!-- endPage보다 totalPage가 크면 보여줄 것이 뒤에 남아 있다 -->
		<th:block th:if="${pb.endPage < pb.totalPage}">
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=${pb.endPage+1})}">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=${pb.totalPage})}">
					<span class="glyphicon glyphicon-fast-forward"></span>
				</a>
			</li>
		</th:block>
	</span>
	<div>
	 	<a href="/adminStoreInsert.do">매장 등록</a>
	 </div>
	 <div>
	 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kakao Maps API</title>
    <!-- 카카오 지도 api -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2c40444a3249a32f06f25ad82e446b06"></script>
</head>
<body>
    <div id="map" style="width:800px; height:500px;"></div>
    <div id="clickLatlng"></div>
    
	<script>

        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(37.5041299, 127.0030692), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
            // disableClickZoom: true // 클러스터 마커를 클릭했을 때 지도가 확대되지 않도록 설정한다
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        // 마커가 표시될 위치입니다 
        var markerPosition  = new kakao.maps.LatLng(37.5041299, 127.0030692); 

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
        // marker.setMap(null);    

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
            
            // 클릭한 위도, 경도 정보를 가져옵니다 
            var latlng = mouseEvent.latLng; 
            
            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);
            

            // 'clickLatlng'라는 아이디값을 가진 <div> 태그의 innerHTML 으로 위 메세지를 설정합니다.
            var resultDiv = document.getElementById('clickLatlng'); 
            resultDiv.innerHTML = message;
            
        });

	</script>

</body>
</html>
	 </div>
</div>
</body>
</html>