<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body>
<div layout:fragment="content">
	<table>
		<tr>
			<th>매장번호</th>
			<th>매장이름</th>
			<th>매장주소</th>
			<th>개점시간</th>
			<th>폐점시간</th>
			<th>전화번호</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="lists:${list2}">
			<td>[[${lists.storeNo}]]</td>
			<td>[[${lists.storeName}]]</td>
			<td>[[${lists.storeAddr}]]</td>
			<td>[[${lists.storeOpen}]]</td>
			<td>[[${lists.storeClose}]]</td>
			<td>[[${lists.storeTel}]]</td>
			<td><a th:href="@{/adminStoreUpdateForm.do(storeNo=${lists.storeNo})}">수정</a>
			<td><a th:href="@{/adminStoreDelete.do(storeNo=${lists.storeNo})}">삭제</a>
		</tr>
	</table>
	<div>
		<form action="adminStoreList.do">
			<select name="keyword">
				<option value="storeNo">매장번호</option>
				<option value="storeName">매장이름</option>
			</select>
			<input type="text" name="search">
			<input type="submit" value="검색">
		</form>
	</div>
	<span>
		<!-- 시작페이지가 pagePerBlock(10)보다 크면 앞에 보여줄 것이 있다 -->	
		<th:block th:if="${pb.startPage > pb.pagePerBlock}">
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=1)}">
					<span class="glyphicon glyphicon-fast-backward"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=${pb.startPage-1 })}">
					<span class="glyphicon glyphicon-triangle-left"></span>
				</a>
			</li>
		</th:block>
		<th:block th:each="i:${#numbers.sequence(pb.startPage,pb.endPage) }">
			<th:block th:if="${pb.currentPage == i }">
				<li class="active">
					<a th:href="@{/adminStoreList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>
			<th:block th:if="${pb.currentPage != i }">
				<li>
					<a th:href="@{/adminStoreList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>		
		</th:block>
		<!-- endPage보다 totalPage가 크면 보여줄 것이 뒤에 남아 있다 -->
		<th:block th:if="${pb.endPage < pb.totalPage}">
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=${pb.endPage+1})}">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminStoreList.do(pageNum=${pb.totalPage})}">
					<span class="glyphicon glyphicon-fast-forward"></span>
				</a>
			</li>
		</th:block>
	</span>
	<div>
	 	<a href="/adminStoreInsert.do">매장 등록</a>
	 </div>

</body>
</html>
</body>
</html>