<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body><!-- by창률 -->
<div layout:fragment="content">
	<table>
		<tr>
			<th>주문번호</th>
			<th>이메일</th>
			<th>주문날짜</th>
			<th>주소번호</th>
			<th>상태</th>
		</tr>
		<tr th:each="lists:${list}">
			<td>[[${lists.orderNo}]]</td>
			<td>[[${lists.email}]]</td>
			<td>[[${lists.orderDate}]]</td>
			<td>[[${lists.addrNo}]]</td>
			<td>[[${lists.status}]]</td>
			<td><a th:href="@{/adminOrderDetail.do(orderNo=${lists.orderNo})}">주문 상세 보기</a><td>
		</tr>
	</table>
</div>
</body>
</html>