<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body><!-- by창률 -->
<div layout:fragment="content">
<table>
	<tr>
		<th>문의번호</th>
		<th>이메일</th>
		<th>상품번호</th>
		<th>문의유형</th>
		<th>제목</th>
		<th>내용</th>
		<th>등록일</th>
		<th>처리상태</th>
		<th>삭제여부</th>
	</tr>
	<tr th:each="lists:${list}">
		<td>[[${list.qnaNo}]]</td>
		<td>[[${list.email}]]</td>
		<td>[[${list.productNo}]]</td>
		<td>[[${list.qnaType}]]</td>
		<td>[[${list.noticeSubject}]]</td>
		<td>[[${list.content}]]</td>
		<td>[[${list.regDate}]]</td>
		<td>[[${list.qnaStatus}]]</td>
		<td>[[${list.qnaDel}]]</td>
		<td><a th:href="@{/adminQnaDetail.do(qnaNo=${lists.qnaNo})}">문의 상세 보기</a><td>
	</tr>
</table>
	<div>
		<form action="adminQnaList.do">
			<select name="keyword">
				<option value="qnaNo">문의번호</option>
				<option value="productNo">상품번호</option>
				<option value="email">이메일</option>
				<option value="qnaType">문의유형</option>
			</select>
			<input type="text" name="search">
			<input type="submit" value="검색">
		</form>
	</div>
	<span>
		<!-- 시작페이지가 pagePerBlock(10)보다 크면 앞에 보여줄 것이 있다 -->	
		<th:block th:if="${pb.startPage > pb.pagePerBlock}">
			<li>
				<a th:href="@{/adminQnaList.do(pageNum=1)}">
					<span class="glyphicon glyphicon-fast-backward"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminQnaList.do(pageNum=${pb.startPage-1 })}">
					<span class="glyphicon glyphicon-triangle-left"></span>
				</a>
			</li>
		</th:block>
		<th:block th:each="i:${#numbers.sequence(pb.startPage,pb.endPage) }">
			<th:block th:if="${pb.currentPage == i }">
				<li class="active">
					<a th:href="@{/adminQnaList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>
			<th:block th:if="${pb.currentPage != i }">
				<li>
					<a th:href="@{/adminQnaList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>		
		</th:block>
		<!-- endPage보다 totalPage가 크면 보여줄 것이 뒤에 남아 있다 -->
		<th:block th:if="${pb.endPage < pb.totalPage}">
			<li>
				<a th:href="@{/adminQnaList.do(pageNum=${pb.endPage+1})}">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminQnaList.do(pageNum=${pb.totalPage})}">
					<span class="glyphicon glyphicon-fast-forward"></span>
				</a>
			</li>
		</th:block>
	</span>
</div>
</body>
</html>