<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body><!-- by창률 -->
<div layout:fragment="content" align="center">
	<h2>문의 상세</h2>
	<table>
		<tr>
			<th>문의번호</th>
			<td>[[${qna1.qnaNo}]]</td>
		</tr>
		<tr>
			<th>상품번호</th>
			<td>[[${qna1.productNo}]]</td>
		</tr>
		<tr>
			<th>이메일</th>
			<td>[[${qna1.email}]]</td>
		</tr>
		<tr>
			<th>문의유형</th>
			<td>[[${qna1.qnaType}]]</td>
		</tr>
		<tr>
			<th>등록일</th>
			<td>[[${qna1.regDate}]]</td>
		</tr>
		<tr>
			<th>처리상태</th>
			<td>[[${qna1.qnaStatus}]]</td>
		</tr>
		<tr>
			<th>삭제여부</th>
			<td>[[${qna1.qnaDel}]]</td>
		</tr>
		<tr>
			<th>제목</th>
			<td>[[${qna1.subject}]]</td>
		</tr>
		<tr>
			<th>문의내용</th>
			<td>[[${qna1.content}]]</td>
		</tr>
		<tr th:if="${qna3} != null">
			<th>답글</th>
			<td><input type="text" th:value="${qna3.content}" readonly="readonly" style="width: 500px; height: 300px;" ></td>
		</tr>
	</table>
	<div th:if="${qna3} == null">
		<form action="adminQnaReply.do">
			<input type="hidden" name="qnaNo" th:value="${qna1.qnaNo}">
			<input type="hidden" name="productNo" th:value="${qna1.productNo}">
			<input type="hidden" name="email" th:value="${qna1.email}">
			<input type="hidden" name="qnaType" th:value="${qna1.qnaType}">
			<input type="hidden" name="regDate" th:value="${qna1.regDate}">
			<input type="hidden" name="qnaStatus" th:value="${qna1.qnaStatus}">
			<input type="hidden" name="qnaDel" th:value="${qna1.qnaDel}">
			<input type="hidden" name="subject" th:value="${qna1.subject}">
			<input type="hidden" name="refNo" th:value="${qna1.refNo}">
			<textarea rows="10px" cols="80px" name="content" ></textarea>
			<input type="submit" value="답글완료">
		</form>
	</div>
<!-- 	<div th:if="${qna3} == null"> -->
<!-- 		<form action="adminQnaStatusUpdate.do"> -->
<!-- 		<input type="hidden" name="qnaNo" th:value="${qna1.qnaNo}"> -->
<!-- 			<select name="qnaStatus"> -->
<!-- 				<option value="미답변" th:if="${qna1.qnaStatus}=='미답변'" selected="selected">미답변</option> -->
<!-- 				<option value="미답변" th:if="${qna1.qnaStatus}!='미답변'" >미답변</option> -->
				
<!-- 				<option value="답변완료" th:if="${qna1.qnaStatus}=='답변완료'" selected="selected">답변완료</option> -->
<!-- 				<option value="답변완료" th:if="${qna1.qnaStatus}!='답변완료'" >답변완료</option> -->
<!-- 			</select> -->
<!-- 			<input type="submit" value="확인"> -->
<!-- 		</form> -->
<!-- 	</div> -->
</div>
</body>
</html>