<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<form action="adminProductUpdateResult.do">
		<input type="hidden" name="productDetailNo" th:value="${productDetailNo}">
		<input type="hidden" name="productNo" th:value="${productNo}">
		<div>
			<fieldset>
			    <legend>카테고리</legend>
			    
			    상의
			    <label><input type="radio" name="categoryNo" value="1">티셔츠</label>
			    <label><input type="radio" name="categoryNo" value="2">후드</label>
			    <label><input type="radio" name="categoryNo" value="3">재킷</label>
			  	<br>
			  	하의
			    <label><input type="radio" name="categoryNo" value="4">팬츠</label>
			    <label><input type="radio" name="categoryNo" value="5">타이즈</label>
			    <label><input type="radio" name="categoryNo" value="6">쇼츠</label>
			  	<br>
			  	용품
			    <label><input type="radio" name="categoryNo" value="7">양말</label>
			    <label><input type="radio" name="categoryNo" value="8">모자</label>
			    <label><input type="radio" name="categoryNo" value="9">가방</label>
			    <br>
			    신발
			    <label><input type="radio" name="categoryNo" value="10">라이프스타일</label>
			    <label><input type="radio" name="categoryNo" value="11">러닝</label>
			    <label><input type="radio" name="categoryNo" value="12">농구</label>
			    
		  </fieldset>
		</div>
		<div>상품명
			<input type="text" name="productName" required="required" autofocus="autofocus"  th:value="${product.productName}">
		</div>
		<div>색상
			<input type="text" name="color" required="required" th:value="${product.color}">
		</div>
		<div>사이즈
			<input type="text" name="productSize" required="required" th:value="${product.productSize}">
		</div>
		<div>
			<fieldset>
				<legend>성별</legend>
				<label>
					<input type="radio" name="gender" value="M">남자
				</label>
				<label>
					<input type="radio" name="gender" value="F">여자
				</label>
			</fieldset>
		</div>
		<div>재고
			<input type="number" name="stock" value="1" required="required" th:value="${product.stock}">
		</div>
		<div>사진
			<input type="file" name="productPhoto" required="required">
		</div>
		<div>가격
			<input type="number" name="price" value="0" required="required" th:value="${product.price}">
		</div>
		<div>상세정보
			<input type="text" name="detail" required="required" th:value="${product.detail}">
		</div>
		<div>
			<input type="submit" value="확인">
		</div>
	</form>
</div>
</body>
</html>