<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body><!-- by창률 -->
<div layout:fragment="content">
	<table>
		<tr>
			<th>주문 상세 번호</th>
			<th>상품명</th>
			<th>구매수량</th>
			<th>환불여부</th>
			<th>환불상태수정</th>
			<th></th>
		</tr>
		<tr th:each="lists:${list2}">
			<td>[[${lists.orderDetailNo}]]</td>
			<td>[[${lists.productName}]]</td>
			<td>[[${lists.orderQuantity}]]</td>
			<td>[[${lists.refundChk}]]</td>
			<td>
				<select th:if="${lists.refundChk}=='N'">
					<option value="N" selected="selected">신청안함</option>
					<option value="A">환불진행중</option>
					<option value="Y">환불완료</option>
					<option value="D">환불거절</option>
				</select>
				<select th:if="${lists.refundChk}=='A'">
					<option value="N" >신청안함</option>
					<option value="A" selected="selected">환불진행중</option>
					<option value="Y">환불완료</option>
					<option value="D">환불거절</option>
				</select>
				<select th:if="${lists.refundChk}=='Y'">
					<option value="N" >신청안함</option>
					<option value="A">환불진행중</option>
					<option value="Y" selected="selected">환불완료</option>
					<option value="D">환불거절</option>
				</select>
				<select th:if="${lists.refundChk}=='D'">
					<option value="N" >신청안함</option>
					<option value="A">환불진행중</option>
					<option value="Y">환불완료</option>
					<option value="D" selected="selected">환불거절</option>
				</select>
			</td>
		</tr>
	</table>
	<div>
		<form action="adminOrderDetail.do">
			<select name="keyword">
				<option value="orderNum">주문번호</option>
				<option value="email">이메일</option>
			</select>
			<input type="text" name="search">
			<input type="submit" value="검색">
		</form>
	</div>
	<span>
		<!-- 시작페이지가 pagePerBlock(10)보다 크면 앞에 보여줄 것이 있다 -->	
		<th:block th:if="${pb.startPage > pb.pagePerBlock}">
			<li>
				<a th:href="@{/adminOrderList.do(pageNum=1)}">
					<span class="glyphicon glyphicon-fast-backward"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminOrderList.do(pageNum=${pb.startPage-1 })}">
					<span class="glyphicon glyphicon-triangle-left"></span>
				</a>
			</li>
		</th:block>
		<th:block th:each="i:${#numbers.sequence(pb.startPage,pb.endPage) }">
			<th:block th:if="${pb.currentPage == i }">
				<li class="active">
					<a th:href="@{/adminOrderList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>
			<th:block th:if="${pb.currentPage != i }">
				<li>
					<a th:href="@{/adminProductList.do(pageNum=${i})}">[[${i}]]</a>
				</li>
			</th:block>		
		</th:block>
		<!-- endPage보다 totalPage가 크면 보여줄 것이 뒤에 남아 있다 -->
		<th:block th:if="${pb.endPage < pb.totalPage}">
			<li>
				<a th:href="@{/adminOrderList.do(pageNum=${pb.endPage+1})}">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</a>
			</li>
			<li>
				<a th:href="@{/adminOrderList.do(pageNum=${pb.totalPage})}">
					<span class="glyphicon glyphicon-fast-forward"></span>
				</a>
			</li>
		</th:block>
	</span>
</div>
</body>
</html>