<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body> <!-- by창률 -->
<div layout:fragment="content">
	<table>
		<tr>
			<th>이메일</th>
			<th>이름</th>
			<th>성별</th>
			<th>생년월일</th>
			<th>전화번호</th>
			<th>가입일</th>
			<th>탈퇴여부</th>
			<th></th>
		</tr>
		<tr th:each="lists:${list}">
			<td>[[${lists.email}]]</td>
			<td>[[${lists.name}]]</td>
			<td>[[${lists.memberGender}]]</td>
			<td>[[${lists.birthday}]]</td>
			<td>[[${lists.memberTel}]]</td>
			<td>[[${lists.regDate}]]</td>
			<td>[[${lists.memberDel}]]</td>
			<td>
				<a th:href="@{/adminMemberDetail.do(email=${lists.email})}">회원 상세 보기</a>
			</td>
		</tr>
	</table>
	<div>
		<form action="adminMemberList.do">
			<select name="keyword">
				<option value="email">이메일</option>
				<option value="name">이름</option>
				<option value="memberTel">전화번호</option>
			</select>
			<input type="text" name="search">
			<input type="submit" value="검색">
		</form>
	</div>
	<span>
		<!-- 시작페이지가 pagePerBlock(10)보다 크면 앞에 보여줄 것이 있다 -->	
		<th:block th:if="${pb.startPage > pb.pagePerBlock}">
			<li><a th:href="@{/adminMemberList.do(pageNum=1)}">
				<span class="glyphicon glyphicon-fast-backward"></span></a></li>
			<li><a th:href="@{/adminMemberList.do(pageNum=${pb.startPage-1 })}">
				<span class="glyphicon glyphicon-triangle-left"></span></a></li>
		</th:block>
		<th:block th:each="i:${#numbers.sequence(pb.startPage,pb.endPage) }">
			<th:block th:if="${pb.currentPage == i }">
				<li class="active"><a th:href="@{/adminMemberList.do(pageNum=${i})}">[[${i}]]</a></li>
			</th:block>
			<th:block th:if="${pb.currentPage != i }">
				<li><a th:href="@{/adminMemberList.do(pageNum=${i})}">[[${i}]]</a></li>
			</th:block>		
		</th:block>
		<!-- endPage보다 totalPage가 크면 보여줄 것이 뒤에 남아 있다 -->
		<th:block th:if="${pb.endPage < pb.totalPage}">
			<li><a th:href="@{/adminMemberList.do(pageNum=${pb.endPage+1})}">
				<span class="glyphicon glyphicon-triangle-right"></span></a></li>
			<li><a th:href="@{/adminMemberList.do(pageNum=${pb.totalPage})}">
				<span class="glyphicon glyphicon-fast-forward"></span></a></li>
		</th:block>
	</span>
</div>
</body>
</html>