<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {width: 80%}
	th {border:1px solid green;}
	td {border:1px solid green;}
</style>
</head>
<body> <!-- by창률 -->
<div layout:fragment="content">
	<table>
		<tr>
			<th>이메일</th>
			<th>이름</th>
			<th>성별</th>
			<th>생년월일</th>
			<th>전화번호</th>
			<th>가입일</th>
			<th>탈퇴여부</th>
		</tr>
		<tr th:each="lists:${list}">
			<td>[[${lists.email}]]</td>
			<td>[[${lists.name}]]</td>
			<td>[[${lists.memberGender}]]</td>
			<td>[[${lists.birthday}]]</td>
			<td>[[${lists.memberTel}]]</td>
			<td>[[${lists.regDate}]]</td>
			<td>[[${lists.memberDel}]]</td>
			<td>
				<a th:href="@{/adminMemberDetail.do(email=${lists.email})}">회원 상세 보기</a>
			</td>
		</tr>
	</table>
</div>
</body>
</html>