.u-section-1 .u-sheet-1 {
  min-height: 1964px;
}

.u-section-1 .u-group-1 {
  min-height: 1884px;
  margin-top: 60px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 785px;
  margin: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 952px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 383px;
  min-height: 189px;
  height: auto;
  margin: -200px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.25rem;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 31px;
  margin: 4px 189px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: 14px auto 0 53px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 25px;
  height: 25px;
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -27px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -179px 10px 0 611px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 169px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 383px;
  min-height: 189px;
  height: auto;
  margin: -200px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.25rem;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 31px;
  margin: 4px 189px 0 0;
}

.u-section-1 .u-icon-3 {
  width: 30px;
  height: 30px;
  margin: 14px auto 0 53px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 25px;
  height: 25px;
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -27px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: -179px 10px 0 611px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 169px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 383px;
  min-height: 189px;
  height: auto;
  margin: -200px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-12 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.25rem;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 2px auto 0 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 31px;
  margin: 4px 189px 0 0;
}

.u-section-1 .u-icon-5 {
  width: 30px;
  height: 30px;
  margin: 14px auto 0 53px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 25px;
  height: 25px;
  transition-duration: 0.25s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -27px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: -179px 10px 0 611px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: 169px auto 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  margin: -990px 259px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 340px;
  margin: 10px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 115px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 8px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  margin: 9px 2px 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  margin: -31px auto 0 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  margin: 14px 3px 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  margin: -31px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 70px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 2px 0 auto;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  margin: -32px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 121px;
}

.u-section-1 .u-container-layout-10 {
  padding: 25px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  margin: 0;
  padding: 20px 132px 22px;
}

.u-section-1 .u-group-5 {
  min-height: 386px;
  height: auto;
  width: 1140px;
  margin: 650px -2px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-text-24 {
  font-size: 1.5rem;
  margin: 24px auto 0 0;
}

.u-section-1 .u-list-2 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 233px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 343px;
  min-height: 109px;
  height: auto;
  margin: -200px 0 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-25 {
  font-size: 1.125rem;
  margin: 10px 10px 0;
}

.u-section-1 .u-text-26 {
  font-size: 1.125rem;
  margin: -29px 0 0 auto;
}

.u-section-1 .u-text-27 {
  font-size: 1.125rem;
  margin: 2px auto 0 10px;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  margin: 2px auto 0 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-weight: normal;
  text-transform: none;
  margin: 8px 163px 0 auto;
  padding: 11px 28px 12px 26px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-group-7 {
  width: 343px;
  min-height: 109px;
  height: auto;
  margin: -200px 0 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-29 {
  font-size: 1.125rem;
  margin: 10px 10px 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.125rem;
  margin: -29px 0 0 auto;
}

.u-section-1 .u-text-31 {
  font-size: 1.125rem;
  margin: 2px auto 0 10px;
}

.u-section-1 .u-text-32 {
  font-size: 1.125rem;
  margin: 2px auto 0 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-weight: normal;
  text-transform: none;
  margin: 8px 163px 0 auto;
  padding: 11px 28px 12px 26px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 28px auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-3 {
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-3 {
  min-height: 390px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-1 .u-text-35 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-1 .u-text-37 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-1 .u-text-38 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-39 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-1 .u-text-40 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-1 .u-text-41 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-42 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-1 .u-text-43 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-1 .u-text-44 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-45 {
  font-size: 1.5rem;
  margin: -479px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 192px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1 .u-image-6 {
    height: 270px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    height: 270px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    height: 270px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    height: 270px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3446px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 556px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 556px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 556px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 198px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-group-5 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-1 .u-image-6 {
    height: 310px;
  }

  .u-section-1 .u-image-7 {
    height: 310px;
  }

  .u-section-1 .u-image-8 {
    height: 310px;
  }

  .u-section-1 .u-image-9 {
    height: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 376px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 376px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 376px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 149px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-6 {
    height: 465px;
  }

  .u-section-1 .u-image-7 {
    height: 465px;
  }

  .u-section-1 .u-image-8 {
    height: 465px;
  }

  .u-section-1 .u-image-9 {
    height: 465px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 176px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 176px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 176px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 94px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-6 {
    height: 293px;
  }

  .u-section-1 .u-image-7 {
    height: 293px;
  }

  .u-section-1 .u-image-8 {
    height: 293px;
  }

  .u-section-1 .u-image-9 {
    height: 293px;
  }
}

.u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]),
.u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-block-82eb-33:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]),
.u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]).u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-block-82eb-34:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-section-1 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-section-1 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-section-1 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-6,
.u-section-1 .u-icon-6:before,
.u-section-1 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-section-1 .u-icon-6 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  stroke-width: 0px !important;
  background-color: #e5e5e5 !important;
}

.u-section-1 .u-icon-6 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}