.u-section-1 .u-sheet-1 {
  min-height: 1256px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px auto 0;
}

.u-section-1 .u-form-1 {
  height: 139px;
  width: 570px;
  margin: 15px auto 0;
}

.u-section-1 .u-input-1 {
  height: 55px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 73px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 8px auto 0 0;
}

.u-section-1 .u-line-1 {
  margin-top: 15px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-list-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-text-5 {
  font-size: 0.9375rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-text-7 {
  font-size: 0.9375rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-text-9 {
  font-size: 0.9375rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-text-11 {
  font-size: 0.9375rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-12 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-text-13 {
  font-size: 0.9375rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-text-15 {
  font-size: 0.9375rem;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.875rem;
  margin: 50px auto 0 0;
}

.u-section-1 .u-line-2 {
  margin-top: 15px;
  transform-origin: left center 0px;
  margin-bottom: 0;
}

.u-section-1 .u-list-2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 335px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 10px 10px;
}

.u-section-1 .u-icon-1 {
  width: 107px;
  height: 108px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 10px 10px;
}

.u-section-1 .u-icon-2 {
  width: 107px;
  height: 108px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 10px 10px;
}

.u-section-1 .u-icon-3 {
  width: 107px;
  height: 107px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 310px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 84px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 275px;
  }

  .u-section-1 .u-icon-1 {
    height: 107px;
  }

  .u-section-1 .u-icon-2 {
    height: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 541px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 647px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }
}