.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-group-1 {
  min-height: 530px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 527px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 550px;
  min-height: 220px;
  height: auto;
  margin: 50px auto 49px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  margin: 30px 17px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 17px auto 0;
  padding: 8px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 435px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 250px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 157px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 914px;
}

.u-section-2 .u-group-1 {
  min-height: 594px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 593px;
  width: 1138px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 550px;
  min-height: 220px;
  height: auto;
  margin: 50px auto 51px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 15px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 3px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 26px auto 0;
  padding: 8px 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: 490px;
    width: 940px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    height: 375px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    height: 281px;
    width: 540px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 177px;
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 505px;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 50px;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 455px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 453px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -70px auto 0 23px;
  padding: 8px 22px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -83px auto 0 24px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 453px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -70px auto 0 23px;
  padding: 8px 22px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -83px auto 0 24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 374px;
  }

  .u-section-3 .u-image-1 {
    height: 374px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 374px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 573px;
  }

  .u-section-3 .u-image-2 {
    height: 573px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 430px;
  }

  .u-section-3 .u-image-2 {
    height: 430px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 271px;
  }

  .u-section-3 .u-image-2 {
    height: 271px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 869px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 49px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 570px;
  margin: 15px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 689px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 10px 0 0;
}

.u-section-4 .u-image-1 {
  height: 688px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -136px auto 0 30px;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 8px 22px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 570px;
  margin: -689px 0 1px auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 335px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 334px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -118px auto 0 30px;
}

.u-section-4 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 23px auto 0 30px;
  padding: 8px 22px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 443px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: 334px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-4 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: -81px auto 0 30px;
  padding: 8px 22px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -97px auto 65px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-4 {
    margin-top: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    height: 651px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -99px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-4 .u-image-2 {
    height: 316px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -100px;
  }

  .u-section-4 .u-image-3 {
    height: 316px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -56px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 405px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 147px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    height: 199px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-4 .u-image-3 {
    height: 199px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 506px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 25px auto 0 0;
}

.u-section-5 .u-list-1 {
  margin: 15px 0 50px;
}

.u-section-5 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-5 .u-text-9 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-5 .u-text-10 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-11 {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 187px 0 13px;
}

.u-section-5 .u-text-12 {
  font-size: 1rem;
  margin: -19px 0 0 199px;
}

.u-section-5 .u-text-13 {
  font-size: 0.875rem;
  margin: 0 -12px 0 13px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 309px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-5 .u-image-1 {
    height: 270px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 270px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 270px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    height: 270px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    min-height: 355px;
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-5 .u-image-1 {
    height: 310px;
  }

  .u-section-5 .u-image-2 {
    height: 310px;
  }

  .u-section-5 .u-image-3 {
    height: 310px;
  }

  .u-section-5 .u-image-4 {
    height: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 465px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 465px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 465px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 465px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 293px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 293px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 293px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 293px;
  }
}