.u-section-1 .u-sheet-1 {
  min-height: 1284px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 50px auto 0 498px;
}

.u-section-1 .u-form-1 {
  height: 139px;
  width: 570px;
  margin: 15px 285px 0;
}

.u-section-1 .u-input-1 {
  height: 55px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-list-1 {
  width: 328px;
  margin: 40px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 996px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  width: 107px;
  height: 108px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  width: 107px;
  height: 108px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  width: 107px;
  height: 107px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 960px;
  height: auto;
  margin: -996px auto 40px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 15px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-top: 84px;
    margin-left: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-1 .u-icon-1 {
    height: 107px;
  }

  .u-section-1 .u-icon-2 {
    height: 107px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-left: 210px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 300px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}