.u-section-1 .u-sheet-1 {
  min-height: 186px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 50px auto 0 14px;
}

.u-section-1 .u-list-1 {
  width: 420px;
  margin: -28px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 23px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  width: 1112px;
  transform-origin: left center 0px;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 92px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1156px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 auto 0 14px;
}

.u-section-2 .u-line-1 {
  width: 744px;
  transform-origin: left center 0px;
  margin: 60px auto 0 14px;
}

.u-section-2 .u-line-2 {
  width: 332px;
  transform-origin: right center 0px;
  margin: -1px 14px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 346px;
  margin: 24px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 183px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 0 -1px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 84px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 13px 0 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -43px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 181px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 26px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 20px 1px 0 173px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: -51px 173px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 173px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  font-weight: 700;
  margin: -27px 2px 0 172px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -413px auto 0 14px;
}

.u-section-2 .u-list-1 {
  width: 744px;
  margin: 0 auto 0 14px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 783px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 246px;
  min-height: 137px;
  height: auto;
  margin: -196px auto 0 234px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-12 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.125rem;
  margin: 1px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: -127px 10px 0 auto;
  padding: 10px 53px 11px 52px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 246px;
  min-height: 137px;
  height: auto;
  margin: -196px auto 0 234px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-16 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-text-17 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.125rem;
  margin: 1px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: -127px 10px 0 auto;
  padding: 10px 53px 11px 52px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 246px;
  min-height: 137px;
  height: auto;
  margin: -196px auto 0 234px;
}

.u-section-2 .u-container-layout-9 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-20 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-text-21 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-23 {
  font-size: 1.125rem;
  margin: 1px auto 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: -127px 10px 0 auto;
  padding: 10px 53px 11px 52px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 346px;
  margin: -398px 0 60px auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 90px;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-text-24 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 130px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-text-25 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 28px auto 0 31px;
}

.u-section-2 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: -25px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-26 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 14px auto 0 34px;
}

.u-section-2 .u-icon-2 {
  width: 30px;
  height: 30px;
  margin: -29px auto 0 -2px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -48px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-text-25 {
    width: 113px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 51px;
  }

  .u-section-2 .u-text-26 {
    margin-top: -22px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-line-2 {
    margin-right: 8px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 168px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 167px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 167px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 168px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 94px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 94px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 94px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }
}