.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-group-1 {
  width: 550px;
  min-height: 769px;
  height: auto;
  margin: 0 auto 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 80px;
  height: 53px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 27px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 14px auto 0 27px;
}

.u-section-1 .u-form-1 {
  height: 196px;
  width: 490px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  height: 50px;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-input-2 {
  height: 50px;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  font-size: 0.75rem;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  font-size: 1.125rem;
  text-decoration: underline !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.125rem;
  display: block;
  width: 89%;
  padding: 15px 0 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
}