 .u-section-1 {
  min-height: 2157px;
}

.u-section-1 .u-list-1 {
  width: 900px;
  margin: 95px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 1520px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-1 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-2 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-3 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-4 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-5 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-6 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-21 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-23 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-7 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-25 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-26 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-27 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-8 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-29 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-31 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
  width: 293px;
}

.u-section-1 .u-icon-9 {
  width: 34px;
  height: 34px;
  background-image: none;
  margin: -283px 10px 0 auto;
  padding: 10px;
}

.u-section-1 .u-text-33 {
  font-size: 1.125rem;
  margin: 259px auto 0 0;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-35 {
  font-size: 1rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-list-2 {
  width: 264px;
  margin: -1518px auto 0 calc(((100% - 1140px) / 2) + -34px);
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 192px;
}

.u-section-1 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-text-37 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.125rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-39 {
  font-size: 1.125rem;
  margin: 10px auto 0 0;
}

.u-section-1 .u-form-1 {
  width: 264px;
  margin-left: calc(((100% - 1140px) / 2) + -34px);
  margin-top: 24px;
  margin-bottom: 60px;
  height: 793px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-1 .u-line-1 {
  height: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-5 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-6 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-7 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-8 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-9 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-10 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-11 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-12 {
  font-size: 1.125rem;
}

.u-section-1 .u-line-2 {
  height: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-14 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-15 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-16 {
  font-size: 1.125rem;
}

.u-section-1 .u-line-3 {
  height: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-17 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-18 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-19 {
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}

.u-block-7fd7-82 {
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-top: -274px;
  }

  .u-section-1 .u-list-2 {
    margin-left: calc(((100% - 940px) / 2) + -34px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2) + -34px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3066px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 220px;
    margin-left: calc(((100% - 720px) / 2) + -34px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 720px) / 2) + -34px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    margin-top: 1017px;
    margin-left: calc(((100% - 540px) / 2) + -34px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 540px) / 2) + -34px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-2 {
    margin-top: 417px;
    margin-left: calc(((100% - 340px) / 2) + -34px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 340px) / 2) + -34px);
  }
}