.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 448px;
  margin: 38px 135px 0 387px;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  padding: 10px 0;
}

.u-section-1 .u-group-1 {
  width: 238px;
  min-height: 468px;
  height: auto;
  margin: -443px auto 60px 150px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 8px;
}

.u-section-1 .u-text-5 {
  margin: 228px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 35px;
    margin-left: 287px;
    width: 895px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 102px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 102px;
  }
}