<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<title>Insert title here</title>
</head><body>
	<header th:fragment="headerFragment">
		<a class="btn btn-success" href='adminMain.do'>메인</a>
		<a class="btn btn-success" href='adminMemberList.do'>회원 목록</a>
		<a class="btn btn-info" href='adminProductList.do'>상품 목록</a>
		<a class="btn btn-primary" href='adminOrderList.do'>주문 목록</a>
		<a class="btn btn-danger" href='adminQnaList.do'>문의 목록</a>
		<a class="btn btn-warning" href='adminReviewList.do'>리뷰 목록</a>
		<a class="btn btn-success" href='adminNoticeList.do'>공지 관리</a>
		<a class="btn btn-info" href='adminStoreList.do'>매장 관리</a>
		<a class="btn btn-primary" href='adminSalesManagement.do'>매출 관리</a>
		<a class="btn btn-warning" href='/'>사이트로 이동</a>
		<a class="btn btn-danger" href=''>로그아웃</a>
	</header>
</body>
</html>