<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<div th:if="${addrList} == 0">
		 	배송지 없으면
			현재 배송지 없음
			
	</div>
	<div th:if="${addrList} != 0" th:each="addr:${addrList}">
		[[${addr.addrName}]]
		[[${addr.tel}]]
		[[${addr.roadaddress}]]
		[[${addr.jibunaddress}]]
		[[${addr.detailaddress}]]
		[[${addr.zonecode}]]
	</div>
	<a class="btn btn-info" th:href="@{/account/addAddrForm.do}">주소추가</a>

</div>
</body>
</html>