<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<div th:if="${#lists.size(list)} == 0">
		 현재 장바구니가 비어있습니다.
	</div>
	<div th:if="${#lists.size(list)} != 0" th:each="cartList:${list}">
		<label>
			<input type="checkbox" name="cart" th:value="${cartList.productName}">
			<a href="상품상세 주소 넣기!!!!!!!!!!">  사진누르면 상품상세로 이동 넣기
				<img alt="상품 상세 페이지로 이동합니다." src="상품사진위치+이름넣기"> [[${cartList.productPhoto}]] 썸네일 사진
			</a>
			[[${cartList.productName}]]
			[[${cartList.price}]]
			[[${cartList.productSize}]]
			[[${cartList.color}]]
			[[${cartList.cartQuanity}]]
		</label>
				
	</div>
	총 가격 계산하는거 필요
</div>
</body>
</html>