<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content" align="center">
	<h3> 장바구니 </h3>
	<table border="1">
		<tr>
			<th> 번호 </th>
			<th> 상품사진 </th>
			<th> 상품명 </th>
			<th> 컬러 </th>
			<th></th>	
		</tr>
		
		<tr th:if="${#lists.size(wishList)} == 0">
			<td colspan ="5"> 장바구니가 비었습니다</td>
		</tr>
		<tr th:if="${#lists.size(wishList)} > 0" th:each="wish:${wishList}" >
			<td>[[${wish.wishNo}]]</td>
			<td> 
				<a th:href="@{/product/productDetail.do(productNo=${wish.productNo},color=${wish.color})}">
				<img alt="" th:src="@{/images/product_photo/}+${wish.productPhoto}" height="150"></a>
			</td>
			<td>[[${wish.productName}]]</td>
			<td>[[${wish.color}]]</td>
			<td>&nbsp; <a th:href="@{/product/addWish.do(productNo=${wish.productNo},color=${wish.color},page=-3)}">삭제</a>
		</tr>
	</table>
	
</div>


</body>
</html>