<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	$(function() {
		$('#wishList').load('/account/wishList.do #wish');
	});
</script>
</head>
<body>
<div layout:fragment="content">
<h2>장바구니</h2>
	<div th:if="${#lists.size(productList)} == 0">
		 현재 장바구니가 비어있습니다.
	</div>
	<div th:if="${#lists.size(productList)} != 0" th:each="product:${productList}">
		<span>
			<input type="checkbox" name="cart" th:value="${product.productName}">
			<a th:href="@{/product/productDetail.do(productNo=${product.productNo},color=${product.color})}">
				<img alt="상품 상세 페이지로 이동합니다." th:src="@{/images/product_photo/}+${product.productPhoto}" width="150">
				[[${product.productName}]]<br>
			</a>
				[[${product.price}]]원<br>
				사이즈 [[${product.productSize}]]<br>
				수량 [[${product.cartQuantity}]]<br>
			<a th:href="@{/product/addWish2.do(productNo=${product.productNo},color=${product.color},cartNo=${product.cartNo})}">위시리스트 추가</a><br>
			<a th:href="@{/product/deleteCart.do(cartNo=${product.cartNo})}">장바구니 삭제</a><br><br>
		</span>
				
	</div>
	총 가격 계산하는거 필요
	<div id="wishList"></div>
</div>
</body>
</html>