<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<div>사진</div>
	<div>[[${email}]]</div>
	<a class="btn btn-info" th:href="@{/account/profile.do}">프로필(정보 다 나오는 거 + 수정 여기서) profile</a>
	<a class="btn btn-info" th:href="@{/account/wishList.do}">위시리스트 wishList</a>
	<a class="btn btn-info" th:href="@{/account/cartList.do}">장바구니 cartList</a>
	<a class="btn btn-info" th:href="@{/account/orderList.do}">주문내역 orders</a>
	<a class="btn btn-info" th:href="@{/account/reviewList.do}">리뷰내역 reviews</a>
	<a class="btn btn-info" th:href="@{/account/address.do}">배송지 관리 address</a>
	<a>문의내역 qnas</a>
</div>
</body>
</html>