<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">

<h2>주문내역</h2>
<br><br>
	<div th:if="${#lists.size(userOrders)} == 0">
		 주문내역 없음
	</div>
	<table style="width: 80%">
		<tr>
			<th>구매 정보</th>
			<th>구매 날짜</th>
			<th>배송지</th>
			<th>상세보기</th>
			<th>환불신청</th>
		</tr>
	<th:block th:if="${#lists.size(userOrders)} != 0" th:each="order:${userOrders}" >
		<tr>
			<td>
				<a th:href="@{/product/productDetail.do(productNo=${order.productNo},color=${order.color})}">
				
				<th:block th:if="${#lists.size(userOrderDetails)} > 1" th:each="cnt:${userOrderDetails}">
					[[${cnt.productName}]] 외 [[${cnt[#lists.size(cnt)]}]]건
				</th:block>
				<th:block th:if="${#lists.size(userOrderDetails)} == 1" th:each="cnt:${userOrderDetails}">
					[[${cnt.productName}]]
				</th:block>
				</a>
			</td>
			<td>
				[[${order.orderDate}]]
			</td>
			<td>
				[[${order.addrNo}]]
			</td>
			<td>
				<a th:href="@{/account/orderDetail.do(email=${order.email},orderDetailNo=${order.orderDetailNo})}">주문상세</a>
			</td>
			<td>
				<a th:href="@{/account/refundForm.do(orderDetailNo=${order.orderDetailNo})}">환불신청</a>
			</td>
		</tr>
	</th:block>
	</table>
</div>
</body>
</html>