<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">

<h2>주문내역</h2>
<br><br>
	<div th:if="${#lists.size(orderInfo)} == 0">
		 주문내역 없음
	</div>
		<th:block  th:each="date:${orderDate}" >
	<table style="width: 80%">
		<tr>
			<th colspan="4">
				[[${date.orderDate}]]
			</th>
			<th colspan="2">
				<a th:href="@{/account/orderDetail.do(orderNo=${date.orderNo})}">
					주문상세
				</a>
			</th>
		</tr>
	<th:block th:if="${date.orderDate} == ${detail.orderDate}" th:each="detail:${orderInfo}" >
		<tr>
			<td>
				<a th:href="@{/product/productDetail.do(productNo=${detail.productNo},color=${detail.color})}">
					<img th:src="@{/images/product_photo/}+${detail.productPhoto}" width="50">
				</a>
			</td>
			<td>
				[[${detail.productName}]]
			</td>
			<td>
				[[${detail.productSize}]]
			</td>
			<td>
				[[${detail.color}]]
			</td>
			<td>
				[[${detail.price}]]원
			</td>
		</tr>
	</th:block>
	</table>
		</th:block>
</div>
</body>
</html>