<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
%%%%%%   반품인거 아닌거 넣어야함...?
<div th:if="${#lists.size(userOrder)} == 0">
	 주문내역 없음
</div>
<div th:if="${#lists.size(userOrder)} != 0" th:each="orders:${list}">	
	<img alt="" th:src="@{/images/product_photo/}+${orders.product_photo}">
	상품 이름 P : [[${orders.productName]]
	사이즈 PD : [[${orders.productSize]]
	<a th:href="@{/account/ordersDetail.do(email=${member.email})}">주문상세 ordersDetail</a>
</div>
</body>
</html>