<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
<h2>주문 상세 정보</h2>
			주문날짜 : [[${address.orderDate}]]
			<br>
			배송지 이름 : [[${address.addrName}]]
			<br>
			배송지 주소
			([[${address.zonecode}]]) <br>
			[[${address.roadaddress}]]
			([[${address.jibunaddress}]])<br>
			[[${address.detailaddress}]]<br>
			<br>
		 	배송상태
		 	[[${address.status}]]
<table style="width: 80%">
		<tr>
			<th>상품 사진</th>
			<th>상품명</th>
			<th>구매 사이즈</th>
			<th>구매 컬러</th>
			<th>금액</th>
			<th>리뷰</th>
			<th>환불 상태</th>
		</tr>
	<th:block  th:each="od:${orderDetails}" >
			<tr>
			<td>
				<a th:href="@{/product/productDetail.do(productNo=${od.productNo},color=${od.color})}">
					<img alt="" th:src="@{/images/product_photo/}+${od.productPhoto}" width="50">
				</a>
			</td>
			<td>
				[[${od.productName}]]
			</td>
			<td>
				[[${od.productSize}]]
			</td>
			<td>
				[[${od.color}]]
			</td>
			<td>
				[[${od.price}]]
			</td>
			<td>
			<th:block >
				<a th:href="@{/product/reviewWriteFormChk.do(productNo=${od.productNo},color=${od.color})}">
					리뷰 작성
				</a>
			</th:block>
			</td>
			<td>
				<th:block th:if="${od.refundChk} == 'N'">
					<a th:href="@{/account/refundForm.do(orderDetailNo=${od.orderDetailNo},orderNo=${od.orderNo})}">
						환불신청
					</a>
				</th:block>
				<th:block th:if="${od.refundChk} == 'A'">
					환불 진행 중
				</th:block>
				<th:block th:if="${od.refundChk} == 'Y'">
					환불 완료
				</th:block>
				<th:block th:if="${od.refundChk} == 'D'">
					환불 불가
				</th:block>
			</td>
		</tr>
	</th:block>
</table>
</div>
</body>
</html>