<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function memberDel(email) {
		var cf = confirm("정말로 삭제하시겠습니까?");
		if (cf) {
			location.href="deleteMember.do?email="+email;
		} else alert("삭제가 취소되었습니다.");
	}
</script>
</head>
<body>
<div layout:fragment="content"> 정보 보여주고 수정가능한건 수정되도록
	<div>사진 및 사진 수정</div>
		<div>[[${member.email}]]</div>
		<div>[[${member.password}]] + 확인 (나이키는 수정 팝업창)</div>
		<div>[[${member.name}]]</div>
		<div>[[${member.memberGender}]]</div>
		<div>[[${member.birthday}]]</div>
		<div>[[${member.memberTel}]] (나이키는 수정 팝업창)</div>
		<div>[[${member.regDate}]]</div>
		<div>
			<button th:onclick="memberDel([[${member.email}]])" class="btn btn-danger">
				회원탈퇴
			</button>
		</div>
</div>
</body>
</html>