<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<div th:if="${#lists.size(wish)} == 0">
		 현재 위시리스트가 비어있습니다.
	</div>
	
	<ul th:if="${#lists.size(wish)} != 0" th:each="wishList:${list}">
		<li>
			[[${wishList.product_name}]]
			[[${wishList.price}]]
			<a href="상품상세 주소 넣기!!!!!!!!!!">  사진누르면 상품상세로 이동 넣기
				<img alt="상품 상세 페이지로 이동합니다." src="상품사진위치+이름넣기"> [[${wishList.thumbnail}]] 썸네일 사진
				
			</a>
		</li>
	</ul>
</div>
</body>
</html>