<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" id="wish">
<h2>위시리스트</h2>
	<div th:if="${#lists.size(list)} == 0">
		 현재 위시리스트가 비어있습니다.
	</div>
	
	<ul th:if="${#lists.size(list)} != 0" th:each="wishList:${list}">
		<li>
			<a th:href="@{/product/productDetail.do(productNo=${wishList.productNo},color=${wishList.color})}">
				<img alt="누르시면 상세페이지로 이동합니다." th:src="@{/images/product_photo/}+${wishList.productPhoto}" width="150">
			</a><br>
			[[${wishList.productName}]]<br>
			[[${wishList.price}]]원<br>
			<a th:href="@{deleteWish.do(productNo=${wishList.productNo},color=${wishList.color})}">위시리스트 삭제</a><br><br>
		</li>
	</ul>
</div>
</body>
</html>