<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<title>Insert title here</title></head><body>
<span th:if="${result} == 2">
	<script type="text/javascript">
		alert("장바구니 수량 추가 완료");
		location.href="productDetail.do?productNo=[[${productNo}]]&color=[[${color}]]";
	</script>
</span>
<span th:if="${result} == 1">
	<script type="text/javascript">
		alert("장바구니 새로 등록 완료");
		location.href="productDetail.do?productNo=[[${productNo}]]&color=[[${color}]]";
	</script>
</span>
<span th:if="${result} == 0">
	<script type="text/javascript">
		alert("위시리스트 추가 실패");
		history.back();
	</script>
</span>
<span th:if="${result} == -1">
	<script type="text/javascript">
		alert("로그인한 경우에만 가능합니다.");
		location.href="/member/emailLoginForm.do";
	</script>
</span>
</body>
</html>