<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
	<h3> 상품리스트 </h3>
	<table>
		<tr>
			<th> 상품사진 </th>
			<th> 상품번호 </th>
			<th> 상품명 </th>
			<th> 가격 </th>	
			<th> 상품상세 </th>
		</tr>
		
		<tr th:if="${#lists.size(productList)} == 0">
			<td colspan ="4"> 상품리스트가 비었습니다</td>
		</tr>
		<tr th:if="${#lists.size(productList)} > 0" th:each="product:${productList}">
			<td> 
				<a th:href="@{productDetail.do(productNo=${product.productNo},color=${product.color})}">
				<img alt="" th:src="@{/images/product_photo/}+${product.productPhoto}" height="150"></a>
			</td>
			<td>[[${product.productNo}]]</td>
			<td>[[${product.productName}]]</td>
			<td>[[${product.price}]]</td>
			<td>[[${product.detail}]]</td>
		</tr>
	</table>
	
</div>


</body>
</html>