<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<div layout:fragment="content">
<ul th:each="product:${list}">
	<li>
		<img alt="" th:src="@{/image/product_photo/}+${product.productPhoto}"><br>
		상품명 : [[${product.productName}]]<br>
		가  격 : [[${product.price}]]<br>
		<button th:onclick="addWish([[${product.productNo}]])">위시리스트</button>
		<a th:href="@{addWish.do(productNo=${productNo})}">위시리스트</a>
		<button th:onclick="addCart">장바구니</button>
		
	</li>
</ul>
</div>
</body>
</html>