<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function color(color, productNo) {
		location.href = "productDetail.do?color=" + color + "&productNo="+ productNo;
		document.getElementById("colorChange").style.visibility = "visible";
	}
</script>
</head>
<body>
<div layout:fragment="content">
	[[${msg}]]<br>
	<span id="colorChange" th:if="${anotherColor != null}">
		<span th:each="photoChange:${anotherColor}"> 
			<img th:src="@{/images/product_photo/}+${photoChange.productPhoto}" width="200">
		</span><br>
	</span><br>
		
	[[${product.productName}]]<br><br>
	<span th:each="photo:${photoList}">
		<a th:onclick="color([[${photo.color}]],[[${photo.productNo}]])">
			<img th:src="@{/images/product_photo/}+${photo.productPhoto}" width="50">
		</a>
 	</span><br><br>
	<form action="addCart.do" method="post" >
		<input type="hidden" name="productNo" th:value="${product.productNo}">
		<input type="hidden" name="color" th:value="${color}">
	사이즈 종류 : 
		<span th:each="sList:${sizes}">
			<input type="radio" th:value="${sList.productSize}" name="size" th:text="${sList.productSize}" required="required">
		</span><br><br>
		<input type="submit" value="장바구니"><br><br>
	</form>
	<a th:href="@{addWish.do(productNo=${product.productNo},color=${color})}">위시리스트</a><br><br>
	상세설명 : [[${product.detail}]]<br>
	
	특징: 
		<span th:each="feature:${pf}">
			[[${feature.feature}]] /
		</span>
	<br><br>
	<div id="review">리뷰</div><br>
	<div id="reviewDetail">
		<a th:href="@{/product/reviewWriteFormChk.do(productNo=${product.productNo},color=${color})}">
			리뷰 작성하기
		</a>
		<div id="reviewList">리부 작성하기 만들고 리뷰 가져오는거 만들어서 여기에 불러오기 숨겨뒀다가 누르면 보이기</div>
	</div>
</div>

</body>
</html>